*{
    box-sizing: border-box;
}
body{
margin: 0px;
}
#page-container {
    width: 100vw;
    height: 100vh;
    padding: 50px;

}
#Doggy {
   width: 700px;
   height: 400px;
}
nav {
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding: 10px;

}
.top {
display: flex;
justify-content: flex-start;
justify-content: flex-end;
}